<div class="page-aside">
    <div class="title">

    </div>
    <div class="asblock1">
        <header>

            <div class="item-image">
                <img src="../../../assets/images/item.png" alt="Item">
            </div>
            <div class="item-description">
                Joystick Sem Fio Para Ps1 Ps2 Ps3 Pc Tv Android Tv Box
            </div>
            <div class="item-qty">
                Quantidade: 1
            </div>
            <hr>
        </header>
        <main>
            <div class="purchase">
                <div class="payment-type">
                    <p>Vai pagar no crédito</p>
                </div>
                <div class="installments-qty">
                    <p>Pagamento em 10 cartões</p>
                </div>
                <div class="cards-qty">
                    <p>Parcelado em 10 vezes</p>
                </div>
                <div class="paid-amount">
                    <p>Já foi pago R$3.000,00</p>
                </div>
            </div>
            <hr>
        </main>
    </div>

    <div class="asblock2">
        <div class="price">
            <span>Ainda faltam R$2.000,00 para finalizar a compra</span>
        </div>

        <div class="btn">
            <button type="button" disabled>Finalizar</button>
        </div>
    </div>

</div>