<div class="page-aside">
    <div class="title">

    </div>
    <div class="asblock1">
        <header *ngFor="let item of cardItems; let i = index">
            <div class="item-image">
                <img src="../../../assets/images/item.png" alt="Imagem do item">
            </div>
            <div class="item-description">
                {{item[i].descricao}}
            </div>
            <div class="item-qty">
                <p>Quantidade: {{item.length}}</p>
            </div>
            <hr>
        </header>
        <main>
            <div class="purchase">
                <div class="payment-type">
                    <p>Crédito</p>
                </div>
                <div class="installments-qty">
                    <p>Parcelado em 10 vezes</p>
                </div>
                <div class="cards-qty">
                    <p>Pagamento em 10 cartões</p>
                </div>
                <div class="paid-amount">
                    <p>Já foi pago R$3.000,00</p>
                </div>
            </div>
            <hr>
        </main>
    </div>


    <div class="asblock2" *ngFor="let item of cardItems; let i = index">
        <div class="price">
            <span>Ainda faltam {{item[i].valor_unitario}} para finalizar a compra</span>
        </div>
        <div class="btn">
            <button type="button" disabled>Finalizar</button>
        </div>
    </div>

</div>