mat-card {
    margin-left: 30px;
    border-bottom: none;
    min-height: 401px;
    margin-top: 98px;
}

.page-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.page-aside .asblock1 header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    p {
        margin-top: 2px;
    }
    hr {
        width: 70%;
        opacity: 0.3;
    }
    .item-image img {
        width: 60px;
        height: 60px;
        background-color: white;
        margin-bottom: 10px;
    }
    .item-description {
        max-width: 300px;
        text-align: center;
    }
    .item-qty {
        font-weight: bold;
    }
}

.page-aside .asblock1 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    hr {
        width: 70%;
        opacity: 0.3;
    }
    .payment-type,
    .installments-qty,
    .cards-qty,
    .paid-amount {
        margin: 5px 20px;
    }
}

.page-aside .asblock2 {
    .price {
        display: flex;
        margin: 5px 20px;
        justify-content: center;
        span {
            p {
                font-size: 13pt;
                margin: 0;
            }
        }
    }
    .btn {
        margin-top: 14px;
        display: flex;
        justify-content: center;
        button {
            height: 46px;
            width: 100%;
            background-color: var(--button-color);
            border: none;
            border-radius: 4px;
            color: white;
        }
        button:hover {
            font-size: 11.5pt;
            transition: 100ms;
            background-color: var(--buttonHover-color);
        }
        button:disabled {
            background-color: var(--buttonDisabled-color);
            cursor: not-allowed;
        }
    }
}

p {
    font-size: 12pt;
}

// Progressbar //

.load-bar {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    mat-progress-bar {
        margin: 0 13px;
    }
}

@media (max-width: 1475px) {
    mat-card {
        margin: 16px 0 0 0;
    }
}
