<mat-card>
    <div class="page-aside ">
        <div class="asblock1">
            <header>
                <p style="margin-top: 25px !important; margin-bottom: 0; ">Lucas Gomes</p>
                <div class="item-description"
                    *ngFor="let item of orderInfoService.obterInformacoesPedido.items; let i = index">
                    <p style="margin-bottom: 0">{{item.descricao}} </p>
                </div>
                <hr>
            </header>
            <main>
                <div class="purchase">
                    <div class="payment-type">
                        <p>{{orderInfoService.paymentMethod}}</p>
                    </div>
                    <div class="installments-qty">
                        <p style="margin-bottom: 0">Parcelado em {{orderInfoService.installments}}</p>
                    </div>
                </div>
                <hr>
            </main>
        </div>
        <div class="asblock2">
            <div class="price">
                <span *ngIf="!orderInfoService.progressSpinnerInit ">
                    <p>Você pagará {{orderInfoService.obterInformacoesPedido.valor_total_pedido | currency:'BRL'}}</p>
                </span>
                <span *ngIf="orderInfoService.progressSpinnerInit">
                    <mat-progress-spinner diameter="30" [color]="orderInfoService.SpinColor"
                        [mode]="orderInfoService.SpinMode" [value]="orderInfoService.SpinValue">
                    </mat-progress-spinner>
                </span>
            </div>
            <!--   <div class="btn">
                <button id="finishButton" [disabled]="!orderInfoService?.disableButton?.valid" (click)="finish()">Finalizar</button>
            </div> -->

            <div class="btn">
                <button [style.background]="orderInfoService.buttonColor"
                    [disabled]="!orderInfoService?.disableButton?.form?.value?.cardInstallments || 
                    orderInfoService.disableAfterFinish || 
                    !orderInfoService.dateIsValid ||
                    orderInfoService.errors.error || 
                    orderInfoService.errors.invalid_card"
                    (click)="finish()" id="finalButton">Finalizar</button>
            </div>
            <div class="load-bar">
                <mat-progress-bar *ngIf="orderInfoService.progressBarInit" class="example-margin"
                    [color]="orderInfoService.color" [mode]="orderInfoService.mode" [value]="orderInfoService.value"
                    [bufferValue]="orderInfoService.bufferValue">
                </mat-progress-bar>
            </div>
        </div>
    </div>
</mat-card>