.page-payment {
    header{
        width: 100%;
        h4{
            text-align: left;
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    min-height: 75vh;
    min-width: 500px;
    max-width: 500px;
    h2, h3, h4{
        font-weight: normal;
    } 
    header .title{
        margin: 30px 0;
        h4{
            color: var(--title-color);
        }
    }
    main {
    
        width: 100%;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            .credit-card,
            .bank-split {
                height: 80px;
                width: 100%;
                border-radius: 8px;
                display: flex;
                align-items: center;
                margin: 10px 0;
                padding-left: 30px;
                border: 1px solid var(--border-color);

                input {
                    margin-right: 20px;
                }
                label{
                    margin-top: 15px;
                    p{
                        margin-top: 7px;
                    }
                }
          /*       input:checked~label{
                    background-color: var(--lighterBackground-color);
                } */
            }
            .credit-card:hover,
            .bank-split:hover{
                background-color: var(--lighterBackground-color);
                transition: 600ms;
            }
        }
        .btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            padding: 0;
            button {
                height: 50px;
                width: 120px;
                background-color: var(--button-color);
                border: none;
                border-radius: 4px;
                color: white;
            }
            button:hover{
                font-size: 11.5pt;
                transition: 100ms;
                background-color: var(--buttonHover-color);
            }
        }
    }
}





