<div class="page-payment">
    <header>
        <div class="title">
            <h4> Como deseja efetuar o pagamento?</h4>
        </div>
    </header>

    <mat-slider min="1" max="100" step="1" value="1">
        Teste
    </mat-slider>


    <main>
        <div class="container">
            <div class="credit-card">
                <input type="radio" id="featured-radio" name="payment-options" [checked]="true" id="credit-card" value="" />
                <label for="credit-card">
                    <p>Cartão de crédito</p>
                </label>
            </div>
            <div class="bank-split">
                <input type="radio" [disabled]="true" name="payment-options" id="bank-split" value="" />
                <label for="bank-split">
                    <p>Boleto bancário</p>
                </label>
            </div>
        </div>
        <div class="btn">
            <button routerLink="/payment">Continuar</button>
        </div>
    </main>
</div>