<div class="page-payment">
    <header>
        <div class="title">
            <h1> Como deseja efetuar o pagamento?</h1>
        </div>
    </header>

    <main>
        <h4>Selecione uma das opções abaixo:</h4>
        <div class="container">
            <div class="credit-card">
                <input type="radio" name="payment-options"id="credit-card" value=""/>
                <label for="credit-card"><h4>Cartão de crédito</h4></label>                
            </div>
            <div class="bank-split">
                <input type="radio" name="payment-options" id="bank-split" value=""/>
                <label for="bank-split"><h4>Boleto bancário</h4></label>
            </div>
        </div>
        <div class="btn">
            <button routerLink="/payment">Continuar</button>
        </div>
    </main>
</div>