<div class="page-installments">
    <header>
        <div class="title"><h1>Como deseja dividir o pagamento?</h1></div>
    </header>

    <main>

        <div class="cards-qty">
            <h4>Quantos cartões você utilizará?</h4>
            <select name="cards" id="cards">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="cards-add">
            <div class="container">
                <img src="../../../assets/images/virtual-card.png" alt="Cartão 1">
                <img src="../../../assets/images/virtual-card.png" alt="Cartão 2">
                <img src="../../../assets/images/virtual-card.png" alt="Cartão 3">
                <img src="../../../assets/images/virtual-card.png" alt="Cartão 4">
                <img src="../../../assets/images/virtual-card.png" alt="Cartão 5">
            </div>
        </div>

        <hr>

        <div class="installments">
            <h4>Quantas parcelas?</h4>
                <label class="s1">
                    <input type="radio" name="radio">1x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">2x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">3x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">4x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">5x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">6x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">7x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">8x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">9x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">10x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">11x
                </label>
                <label class="s1">
                    <input type="radio" name="radio">12x
                </label>
                
        </div>



    </main>
</div>