<!-- <div class="page-installments">
    <header>
        <h1>Como deseja dividir o pagamento?</h1>
        <div class="title" *ngIf="!showCardsInfo">
            <div>
                <h5>Gostaria de efetuar o pagamento com mais de um cartão de crédito?</h5>
            </div>
            <div class="question">
                <button (click)="isMoreThanOneCard()">Sim</button>
                <button (click)="isNotMoreThanOneCard()">Não</button>
            </div>
        </div>
    </header>
    <main *ngIf="showCardsInfo">
        <h4>Cartões</h4>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <h6>{{fillCardsInfo}}</h6>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" *ngFor="let card of formCards; let i = index">
                                    <div class="cards-added">
                                        <div class="cards-container">
                                            <div class="card-name">
                                                <div class="item">
                                                    <input [(ngModel)]="card.cardNumber" class="w-100" type="text"
                                                        placeholder="Número do cartão">
                                                </div>
                                                <div class="item">
                                                    <input [(ngModel)]="card.cardName" class="w-100" type="text"
                                                        placeholder="Nome no cartão">
                                                </div>
                                                <div class="item">
                                                    <input [(ngModel)]="card.cardCPF" class="w-100" type="text"
                                                        placeholder="CPF/CNPJ do titular">
                                                </div>
                                                <div class="cvv">
                                                    <input [(ngModel)]="card.cardCVV" class="w-100" type="text"
                                                        placeholder="CVV">
                                                    <input [(ngModel)]="card.cardValidityPeriod" class="w-100 validate"
                                                        type="text" placeholder="Validade (MM/AAAA)">
                                                </div>
                                            </div>
                                            <div class="installments">
                                                Parcelas:
                                                <select (change)="setInstallments(card.cardInstallments)"
                                                    [(ngModel)]="card.cardInstallments" name="values">
                                                    <option value="1">1x</option>
                                                    <option value="2">2x</option>
                                                    <option value="3">3x</option>
                                                    <option value="4">4x</option>
                                                    <option value="5">5x</option>
                                                    <option value="6">6x</option>
                                                    <option value="7">7x</option>
                                                    <option value="8">8x</option>
                                                    <option value="9">9x</option>
                                                    <option value="10">10x</option>
                                                    <option value="11">11x</option>
                                                    <option value="12">12x</option>
                                                </select>
                                            </div>
                                            <div class="line2" *ngIf="moreThanOneCard">
                                                <h6>Valor cobrado nesse cartão:</h6>
                                                <input [(ngModel)]="card.cardPayValue" type="text">
                                            </div>
                                            <div class="btn">
                                                <button>Confirmar</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--   <div class="cards-qty">
            <h4>Quantos cartões você utilizará?</h4>
            <select (change)="selectChangeHandler($event)" name="cards" id="cards">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="cards-add">
            <div class="container" *ngFor="let cardImage of formCards">
                <img src="../../../assets/images/virtual-card.png" alt="Cartão 1">
            </div>
        </div> -->


<!-- 
    </main>
</div> -->