<div class="global">
    <div class="page">
        <nav style="box-shadow: 3px 3px 3px 3px rgb(207, 205, 205); margin: 0;"
            class="navbar navbar-dark bg-primary m-250">
            <a class="navbar-brand" href="#" style="display: flex; align-items: center; padding-left: 5px;">
                <img src="{{orderInfoService.obterInformacoesPedido.logo_url}}" alt="img"
                    style="margin-right: 10px; width: px; height: 65px;">
                <h4>{{orderInfoService.obterInformacoesPedido.nome_cartorio}}</h4>
            </a>
        </nav>
        <div class="routes">
            <router-outlet></router-outlet>
        </div>

    </div>
    <footer>
        <nav class="navbar navbar-light bg-light footer">
            <a class="navbar-brand">
                <p>Copyright © 2020 InovaCartório LTDA</p>
                <p>CNPJ? 00.000.000/0001-00 / Av. Endereço, nº endereço - São Paulo-SP - CEP: 00000-000</p>
            </a>
        </nav>
    </footer>
</div>