.m-250 {
    padding: 0 250px;
}
.routes{
margin: 0 250px;
}

.page{
    margin: 10px;
}
nav{
    height: 90px;
    box-shadow: 1px 1px 1px 1px black;
    h1, h2, h3, h4{
       font-weight: normal;
       color: white;
   }
   a{
    img{
        width: 80px;
        height: 60px;
    }
   }
}

