
.routes{
margin: 30px 250px 0 250px;

}

.page{
    margin: 10px;
}
nav{
    height: 90px;
    box-shadow: 1px 1px 1px 1px black;
    h1, h2, h3, h4{
       font-weight: normal;
       color: white;
   }
   a{
    img{
        width: 80px;
        height: 60px;
    }
   }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding: 0;
    nav{
        background-color: white !important;
    }
    .footer{
        font-size: 10pt;
        line-height: 19pt;
        p{
            margin: 0;
        }
        a{
            margin-right: 20px;
            font-weight: bold;
        }
    }
    
 }

