.global{
    position: relative;
}

.routes {
    margin: 30px 250px 0 250px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

.page {
    min-height: 90vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-size: 14pt;

    background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);

    height: 50px;
    box-shadow: 1px 1px 1px 1px black;
    h1,
    h2,
    h3,
    h4 {
        font-weight: 300;
        color: white;
    }
    a {
        img {
            width: 50px;
            height: 40px !important;
        }
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    text-align: left;
    padding: 0;
    nav {
        background-color: white !important;
    }
    .footer {
        padding: 0 250px;
        p {
            margin: 0;
        }
        a {
            margin-right: 20px;
            line-height: 30px;
        }
    }
}


@media(max-width: 1290px){
     footer {
        nav {
            display: flex;
            justify-content: center;
           a{
               font-size: 8pt;
           }
        }
    }
}

@media (max-width: 970px) {
    .routes {
        margin: 2% 15%;
    }
    footer {
        nav {
            display: flex;
            justify-content: center;
            a{
               font-size: 8pt;
           }
        }
    }
}

@media (max-width: 600px) {
    .routes {
        margin: 2% 5%;
    }
    footer{
        nav{
            min-height: 70px;
            padding: 0 !important;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 6pt;
            }
        }
    }
}
@media (max-width: 375px) {
    .routes {
        margin: 2% 5%;
    }
    .page{
        nav{
            margin: 0 !important;
            a{
                p{
                    font-size: 9pt;
                }
            }
        }
    }
    footer{
        nav{
            padding: 0 !important;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 5pt;
            }
        }
    }
}
