.w-100 {
    width: 100% !important;
}

.page-installments header .title {
    margin-bottom: 40px;

    div {
        margin: 30px 0 20px 0;
    }
    button {
        border: none;
        margin-right: 5px;
    }
}

.page-installments main {
    padding-top: 30px;
}

.page-installments main {
    hr {
        width: 90%;
        opacity: 0.3;
    }
    .cards-qty {
        display: flex;
        align-items: center;
        select {
            height: 30px;
            margin-left: 15px;
            border: 1px solid rgb(211, 208, 208);
        }
    }

    .cards-added {
        display: flex;
        flex-direction: column;
        .cards-container {
            background-color: var(--lighterBackground-color);
            padding: 20px;
            border-radius: 8px;
            select {
                height: 30px;
                margin-left: 15px;
                border: 1px solid rgb(211, 208, 208);
            }
            input {
                height: 40px;
                margin: 10px 0;
                border: none;
                font-size: 13pt;
                border-radius: 8px;
            }
            .card-name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .cvv {
                    display: flex;
                    .validate {
                        margin-left: 8px;
                    }
                }
            }
            img {
                width: 60px;
                height: 40px;
            }

            .line2 {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }
            .btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    margin-top: 10px;
                    height: 35px;
                    width: 120px;
                    background-color: rgb(80, 211, 80);
                    border: none;
                    border-radius: 4px;
                    color: white;
                }
            }
        }
    }
}

.page-installments main #accordion {
    margin: 20px 0;
    .card .card-header .mb-0 button h6 {
        text-decoration: none !important;
    }
}

.page-installments main #carouselExampleControls a {
    margin: 0 -35px;
}
