.content {
    display: flex;
    form {
        flex: 0.5;
    }
    .app-card {
        flex: 0.5;
        width: 100%;
        margin-left: 30px;
        mat-card {
            height: 200px;
        }
    }
}

.w-100 {
    width: 100% !important;
}

.initial-message {
    margin-bottom: 15px !important;
    padding: 15px 10px !important;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 13pt;
    font-weight: 100;
    p {
        margin: 0;
    }
}

h5 {
    font-weight: 100 !important;
    font-size: 13pt;
}

mat-card {
    padding: 0px 16px 0 16px !important;
    img {
        margin-top: 5px;
        margin-bottom: -10px;
        width: 50px;
        height: 50px;
    }
}

.installment-options {
    width: 100% !important;
    padding-bottom: 20px;
    mat-form-field {
        width: 50% !important;
    }
}

h5 {
    margin-bottom: 20px;
    color: black !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

.item {
    height: 65px;
    margin: 0;
    background-color: white !important;
}

@media (max-width: 1220px) {
    .content {
        flex-direction: column;
        margin-bottom: 15px;
    }
}

@media (max-width: 970px) {
    .cvv {
        flex-direction: column;
    }
    .installment-options {
        mat-form-field {
            width: 100% !important;
        }
    }
}
@media (max-width: 450px) {
    .installment-options{
        flex-direction: column;
    }
}
