.card-top {
    display: flex;
    margin-bottom: 30px;
    p{
        font-weight: 300;
    }
    .initial-message {
        width: 66.7%;
    }
}

.content {
    display: flex;

    .payment-method {
        flex: 1 1;
        h3 {
            margin-top: 60px;
            font-size: 15pt;
        }
        mat-radio-group {
            mat-radio-button {
                background: white;
                border-radius: 6px;
                border: 1px solid rgb(236, 235, 235);
                box-shadow: 10px 11px 12px solid black !important;
                color: grey;
                font-weight: 300;
            }
            mat-radio-button:hover {
                transition: 500ms;
                background: rgb(240, 239, 239);
            }
        }
        .proceed {
            display: flex;
            justify-content: flex-end;
            button {
                height: 46px;
                width: 220px;
                border: none;
                border-radius: 4px;
                color: #fff;
                background-color: #009bde74;
                background-image: radial-gradient(circle farthest-side at center bottom, #009bde80, #002f878e 125%);
            }
            button:hover {
                font-size: 11.5pt;
                transition: 100ms;
            }
            button:disabled {
                background: var(--buttonDisabled-color) !important;
                cursor: not-allowed;
            }
        }
        h3 {
            color: var(--font-color);
            font-weight: 300;
        }
    }
    app-aside {
        flex: 0.5 0.5;
    }
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

::ng-deep .mat-radio-label {
    height: 80px;
    margin: 0 0 0 20px;
}
::ng-deep .mat-radio-container {
    margin-right: 10px !important;
}

.example-radio-button {
    margin-bottom: 15px;
}
