<div class="card-top">
    <mat-card class="initial-message">
        <div class="title">
            <p style="text-align: left !important; margin-bottom: 0;">Olá! Essa ordem de pagamento foi gerada em:
                <!-- {{orderInfoService?.obterInformacoesPedido?.data_pedido}} -->
                <br>
                <span> notebook dell</span>
                <br>
                <span> mouse s/ fio</span>
                ,
                referente a:
            </p>
            <div style="margin: 5px 10px 8px 0; font-weight: 500;"
                *ngFor="let i of orderInfoService.obterInformacoesPedido.items; let index = index">
                {{i.descricao}}
            </div>
        </div>
        <p style="text-align: left;"> Por favor, insira os dados para pagamento e finalize a compra</p>
    </mat-card>
</div>
<div class="content">
    <div class="payment-method">
        <h3>Como deseja efetuar o pagamento?</h3>
        <div class="radio">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="paymentMethod">
              <mat-radio-button class="example-radio-button" *ngFor="let method of methods" [value]="method">
                {{method}}
              </mat-radio-button>
            </mat-radio-group>
            <div>Meio de pagamento escolhido: {{paymentMethod}}</div>
            <div class="proceed">
                <button class="btn">
                    Continuar
                </button>
            </div>
        </div>
    </div>
    <app-aside></app-aside>
</div>
