<div class="container">
    <main>
        <div class="success-case">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Uhuu!</strong> Seu pagamento foi finalizado com sucesso!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <div class="card" style="margin-top: 50px;">
                    <div class="card-header">
                      Confira os detalhes do seu pedido:
                    </div>
                    <div class="card-body">
                      <h5 class="card-title" *ngFor="let d of orderInfoService.obterInformacoesPedido.items; let i = index">
                          {{d.descricao}}
                        </h5>
                        <hr style="width: 90%;">
                      <p class="card-text">Total da compra: R${{orderInfoService.obterInformacoesPedido.valor_total_pedido}}</p>
                      <button class="back-button">Voltar para o carrinho</button>
                    </div>
                    
                  </div>
            </div>
        </div>
    </main>
   
</div>