<div class="page-aside">
    <div class="title">

    </div>
    <div class="asblock1">
        <header>

            <div class="item-image">
                <img src="../../../assets/images/item.png" alt="Item">
            </div>
            <div class="item-description">
                Joystick Sem Fio Para Ps1 Ps2 Ps3 Pc Tv Android Tv Box
            </div>
            <div class="item-qty">
                Quantidade: 1
            </div>
            <hr>
        </header>
        <main>
            <div class="purchase">
                <div class="payment-type">
                    <span>Tipo de pagamento:</span>
                    <p>Crédito</p>
                </div>
                <div class="installments-qty">
                    <span>Quantidade de cartões:</span>
                    <p>10</p>
                </div>
                <div class="cards-qty">
                    <span>Quantidade de parcelas:</span>
                    <p>{{qdtCard}}</p>
                </div>
                <div class="paid-amount">
                    <span>Total pago:</span>
                    <p>R$3.000,00</p>
                </div>
            </div>
            <hr>
        </main>
    </div>

    <div class="asblock2">
        <div class="price">
            <span>Valor restante:</span>
            <p>R$2.000,00</p>
        </div>
        <div class="final-price">
            <span>Valor total:</span>
            <p>R$5.000,00</p>
        </div>
    </div>

</div>