/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

:root{
    --background-color: rgb(233, 235, 235);
    --lighterBackground-color: rgb(245, 245, 245);
    --button-color: rgb(80, 211, 80);
    --buttonHover-color: rgb(60, 173, 60);
}