

.payment-config{
    display: flex;
}


app-installments{
    flex: 1 1;
}
app-aside{
    flex: 0.5 0.5;
}

@media(max-width: 1475px){
    .payment-config{
        flex-direction: column;
        justify-content: center;
       
    }
}