.card-top{
    display: flex;
    margin-bottom: 30px;
    .initial-message{
        width: 66.7%;
    }
}
p{
    font-weight: 300;
}
mat-card{
    width: 100%;
}

.payment-config {
    display: flex;
}

app-installments {
    flex: 1 1;
}
app-aside {
    flex: 0.5 0.5;
}

@media (max-width: 1475px) {
    .payment-config {
        flex-direction: column;
        justify-content: center;
    }
    .card-top{
        .initial-message{
            width: 100%;
        }
    }
}
