<div class="card-top">
    <mat-card class="initial-message">
        <div class="title">
            <p style="text-align: left !important; margin-bottom: 0;">Olá! <br> Essa ordem de pagamento foi gerada em
                {{orderInfoService?.obterInformacoesPedido?.data_pedido}},
                referente a:
            </p>
            <hr>

            <div style="margin: 5px 10px 8px 0; font-weight: 300;"
                *ngFor="let i of orderInfoService.obterInformacoesPedido.items; let index = index">
                {{i.descricao}}
            </div>
            <hr>
        </div>
        <p style="text-align: left;"> Por favor, insira os dados para pagamento e finalize a compra.</p>
    </mat-card>
</div>
<div class="payment-config">
    <app-installments></app-installments>
    <app-aside></app-aside>
</div>