<div class="page-payment">
    <header>
        <div class="title">
            <h1> Como deseja efetuar o pagamento?</h1>
        </div>
    </header>

    <main>
        <h4>Selecione uma das opções abaixo:</h4>
        <div class="container">
            <div class="credit-card">
                <img src="../../../assets/images/credit-card.png" alt="Imagem Cartão de Crédito">
                <a href="#">Cartão de crédito</a>
            </div>
            <div class="bank-split">
                <img src="../../../assets/images/bank-split.png" alt="Imagem Boleto bancário">
                <a href="#">Boleto bancário</a>
            </div>
        </div>
        <div class="btn">
            <button>Continuar</button>
        </div>
    </main>

</div>